.list-group-item-success {
  background-color: rgba(16, 198, 16, 0.713);
  color: white;
}

.list-group-item-danger {
  background-color: rgba(219, 8, 8, 0.713);
  color: white;
}

.correct {
  color: #ffffff;
  font-size: 18px;
}

.incorrect {
  color: #ffffff;
  font-size: 18px;
}

.my-50{
  margin: 50px 0;
}
