<main>
  <div class="container pt-5">
    <div class="row w-100">
      <div class="col-lg-8 offset-2">
        <div class="card">
          <div class="card-body">
            <h1 class="titulo text-center text-uppercase">Tarjeta de credito</h1>
          </div>
        </div>
      </div>
    </div> <!-- end row 1 -->
    <div class="row w-100 mt-5">
      <div class="col-lg-6 text-center">
        <app-crear-tarjeta></app-crear-tarjeta>
      </div>
      <div class="col-lg-6 text-center">
        <app-listar-tarjeta></app-listar-tarjeta>
      </div>
    </div>
  </div>
</main>
