.list-group-item{
  cursor: pointer;

  &:hover{
    background-color: #0dcaf0cf;
    color: white;
  }
  &:focus{
    background-color: #0dcaf0cf;
  }

  .correct{
    color: #ffffff;
    font-size: 18px;
  }

  .incorrect{
    color: #ffffff;
    font-size: 18px;
  }
}


.active-text-light{
  background-color: #17a2b8;
  color: white;
}

.list-group-item-success{
  background-color: rgba(16, 198, 16, 0.713);
  color: white;
}

.list-group-item-danger{
  background-color: rgba(219, 8, 8, 0.713);
  color: white;
}
