<h4 class="card-title">{{ obtenerPregunta() }}</h4>
<ul class="list-group">
  <li (click)="respuestaSeleccionada(respuesta, i)" [ngClass]="AddClassOption(respuesta)" *ngFor="let respuesta of listPregunta[preguntaService.indexPregunta].respuestas; let i = index" class="list-group-item d-flex justify-content-center gap-2 align-items-center">
    {{respuesta.nombre}}
    <span *ngIf="iconIncorrecta(respuesta)" class="material-symbols-outlined incorrect">
      close
    </span>
    <span *ngIf="iconCorrecta(respuesta)" class="material-symbols-outlined correct">
      check
      </span>
  </li>
</ul>

<app-botonera></app-botonera>
