<!-- Inicio de selects -->
<div class="container">
  <div class="card mt-3">
    <div class="card-body alineacion-centrada">
      <div class="form-check form-check-inline alineacion-centrada mb-0">
        <input class="form-check-input" checked type="radio" name="sexo" id="todos" value="todos">
        <label class="form-check-label" for="todos">Todos (5)</label>
      </div>
      <div class="form-check form-check-inline alineacion-centrada mb-0">
        <input class="form-check-input" type="radio" name="sexo" id="hombres" value="hombres">
        <label class="form-check-label" for="hombres">Hombres (4)</label>
      </div>
      <div class="form-check form-check-inline alineacion-centrada mb-0">
        <input class="form-check-input" type="radio" name="sexo" id="mujeres" value="mujeres">
        <label class="form-check-label" for="mujeres">Mujeres (1)</label>
      </div>
    </div>
  </div>
  <!-- Inicio de tabla -->
  <div class="card mt-3">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>Jose</td>
            <td>Sanchez</td>
            <td>Masculino</td>
            <td>8220</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
