<div class="card">
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr *ngFor="let tarjeta of listTarjeta">
          <td class="oculta-texto-extra"> {{tarjeta.titular}} </td>
          <td>{{tarjeta.numeroTarjeta}}</td>
          <td>{{tarjeta.fechaExpiracion}}</td>
          <td class="">
            <i  (click)="editarTarjeta(tarjeta)" class="fa-solid fa-pen-to-square btn-editar"></i>
            <i (click)="eliminarTarjeta(tarjeta.id)" class="fa-solid fa-circle-minus btn-eliminar"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
