<div class="contenedor">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="fs-2">{{ accion }} empleado</h2>
    </div>
  </div>

  <div class="row d-flex alineacion-entre">
    <div class="col-lg-6">
      <form [formGroup]="myform" autocomplete="off">
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]="18">
            <mat-label>Nombre completo</mat-label>
            <input matInput formControlName="nombreCompleto">
          </mat-form-field>
          <span *ngIf="myform.get('nombreCompleto')?.hasError('required') && myform.get('nombreCompleto')?.touched" class="mda-form-msg ">Este campo es obligatorio</span>
          <span *ngIf="myform.get('nombreCompleto')?.hasError('maxlength') && myform.get('nombreCompleto')?.touched" class="mda-form-msg ">Este campo debe tener maximo 20 caracteres</span>
        </div>
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]="18">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo">
          </mat-form-field>
          <span *ngIf="myform.get('correo')?.hasError('required') && myform.get('correo')?.touched" class="mda-form-msg ">Este campo es obligatorio</span>
        </div>
        <br>
        <br>
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]="18">
            <mat-label>Fecha de ingreso</mat-label>
            <input matInput formControlName="fechaIngreso" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
          <span *ngIf="myform.get('fechaIngreso')?.hasError('required') && myform.get('fechaIngreso')?.touched" class="mda-form-msg ">Este campo es obligatorio</span>
        </div>
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]="18">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono">
          </mat-form-field>
          <span *ngIf="myform.get('telefono')?.hasError('required') && myform.get('telefono')?.touched" class="mda-form-msg ">Este campo es obligatorio</span>
        </div>
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]="18">
            <mat-label>Estado civil</mat-label>
            <mat-select formControlName="estadoCivil">
              <mat-option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil">
                {{estadoCivil}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span *ngIf="myform.get('estadoCivil')?.hasError('required') && myform.get('estadoCivil')?.touched" class="mda-form-msg ">Este campo es obligatorio</span>
        </div>
        <div class="col-lg-12 mt-2">
          <mat-radio-group aria-label="Selecciona una opcion" class="flex-center" formControlName="sexo">
            <mat-radio-button value="Masculino">Masculino</mat-radio-button>
            <mat-radio-button value="Femenino">Femenino</mat-radio-button>
          </mat-radio-group>
          <span *ngIf="myform.get('sexo')?.hasError('required') && myform.get('sexo')?.touched" class="mda-form-msg ">Este campo es obligatorio</span>
        </div>
        <br>
        <div class="col-lg-12 d-flex justify-content-end gap-2">
          <button routerLink="/" type="button" class="btn btn-light btn-lg">Cancelar</button>
          <button [disabled]="myform.invalid" (click)="guardarEmpleado()" type="button" class="btn btn-success btn-lg">Aceptar</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <img src="../../../assets/img/empleado.png" alt="empleado">
    </div>
  </div>
</div>
