.contenedor {
  display: block;
  width: 90%;
  margin: 30px auto;
}

.alineacion-entre {
  justify-content: center;
}

img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.example-container {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: left;
  gap: 30px;
}

.btn-success {
  background-color: #f44336;
  border: none;

  &:focus {
    background-color: #d33328;
  }
}

.mda-form-msg{
  display: block;
  margin-top: -10px;
  color: #d33328;
}

.mt-lg{
  margin-top: 50px;
}
