<div class="container mt-5">
  <h1 class="text-center fw-bold">
    Ingresa la url a que se acortara
  </h1>
  <div class="row my-4">
    <div class="col-lg-8">
      <input [(ngModel)]="nombreUrl" class="form-control px-3 py-1 btn-lg fuente-regular" type="text" placeholder="Ingresa la url a acortar">
    </div>
    <div class="col-lg-4 mt-3 mt-lg-0 p-lg-0">
      <input (click)="procesarUrl()" class="form-control btn-lg fuente-regular py-1 px-5 mr-auto btn btn-primary" type="button" value="Acortar">
    </div>
  </div>
  <div *ngIf="inputVacio" class="alert alert-dismissible alert-danger">
    <strong> <p class="text-center m-0" >{{ textError | uppercase }}</p></strong>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
  <div *ngIf="urlProcesada" class="row">
    <div class="col-lg-8">
      <input  [(ngModel)]="urlShort" type="text" class="form-control btn-lg fuente-reducida" placeholder="Url procesada">
    </div>
  </div>
</div>
