<div class="container mt-5">
  <h1 class="text-center fw-bold">
    Ingresa la url a que se acortara
  </h1>
  <div class="row my-4">
    <div class="col-lg-8">
      <input class="form-control px-3 py-1 btn-lg fuente-regular" type="text" placeholder="Ingresa la url a acortar">
    </div>
    <div class="col-lg-4 mt-3 mt-lg-0 p-lg-0">
      <input class="form-control btn-lg fuente-regular py-1 px-5 mr-auto btn btn-primary" type="button" value="Acortar">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <input type="text" class="form-control btn-lg fuente-reducida" placeholder="Url procesada">
    </div>
  </div>
</div>
