<div class="row w-100 mt-5 mx-auto">
  <div class="col-lg-4  mx-auto offset-lg-4">
    <h2 class="text-white text-center titulo fs-1 mt-2">BMI Calculadora</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="fondo-item">
          <i class="fa-solid fa-mars"></i>
          <p>Masculino</p>
        </div>
      </div>
      <!--  -->
      <div class="col-lg-6">
        <div class="fondo-item">
          <i class="fa-solid fa-venus"></i>
          <p>Femenino</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="fondo-item">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="fondo-item">

        </div>
      </div>
      <div class="col-lg-6">
        <div class="fondo-item">

        </div>
      </div>
    </div>
    <!-- Final de fila -->
    <input class="btn btn-primary w-100 py-3 fs-5 fw-bold text-uppercase mt-5" value="Calcular" type="button" name="" id="">
  </div>
</div>
