<div class="card mt-3">
  <div class="card-body alineacion-centrada">
    <div class="form-check form-check-inline alineacion-centrada mb-0">
      <input [(ngModel)]="radioButtonSeleccionado" (change)="redioChange()" class="form-check-input" checked type="radio" name="sexo" id="Todos" value="Todos">
      <label class="form-check-label" for="Todos">Todos ({{todos}})</label>
    </div>
    <div class="form-check form-check-inline alineacion-centrada mb-0">
      <input [(ngModel)]="radioButtonSeleccionado" (change)="redioChange()"  class="form-check-input" type="radio" name="sexo" id="Masculino" value="Masculino">
      <label class="form-check-label" for="Masculino">Masculino ({{masculino}})</label>
    </div>
    <div class="form-check form-check-inline alineacion-centrada mb-0">
      <input [(ngModel)]="radioButtonSeleccionado" (change)="redioChange()"  class="form-check-input" type="radio" name="sexo" id="Femenino" value="Femenino">
      <label class="form-check-label" for="Femenino">Femenino ({{femenino}})</label>
    </div>
  </div>
</div>
